<%= simple_form_for @blog do |f| %>
<%= f.input :title, label: "Enter a blog title" %>
<%= f.input :blurb, label: "Add a 200 character description for the blurb", input_html: { maxlength: 200 } %>
<div>
	<%= f.input :content, label: "Enter your blog content below", input_html: { class: 'tinymce'} %>
</div>
<div>
	<%= f.input :photo, label: "Add a header photo" %>
</div>
<%= f.submit %>
<% end %>
