

<div class="style-banner-blog"
   style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
   url(<%= @blog.photo.attached? ? cl_image_path(@blog.photo.key) : asset_path('cover.png') %>)
   "
   >
   <div class="container">

   </div>
</div>
<div class="container my-4">
  <div class="row">
    <div class="col-sm-8">
      <article>
        <h1 class='mb-3'><%= @blog.title %></h1>
        <div>
          <% if @blog.user.photo.attached? %>
            <%= cl_image_tag @blog.user.photo.key, class: 'avatar' %>
          <% else %>
            <%= image_tag "logo-circle-black.png", class: 'avatar' %>
          <% end %>
          <p><%= @blog.user.full_name %> | <%= @blog.created_at.strftime("%d/%m/%Y") %></p>
          <% if @current_user == @blog.user %>
            <p><%= link_to edit_blog_path(@blog) do %>
              Edit
            <% end %>
            </p>     
            <p> 
              <%= link_to blog_path(@blog), method: :delete do %>
                delete blog
              <% end %>
            </p>
          <% end %>
        </div>
        <hr>
        <section>
          <%= @blog.content %>     
        </section>
      </article>
    </div>
  </div>
</div>
