<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand", id:'navbar-logo' do %>
    <%= image_tag "logo-circle.png", alt: "my-mode circle" %>
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" id="navbar-toggler-icon-light"></span>
    <span class="navbar-toggler-icon-cross"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item searchbar">
        <%= form_tag styles_path, method: :get, class: 'form-inline' do %>
          <%= text_field_tag :query, params[:query], class: 'form-control round', label: 'Find styles', placeholder: 'find styles' %>
      <% end %>
      </li>
      <li class='nav-item'>
        <%= link_to 'About', about_path, class:'nav-link', id:'nav-link-white' %>
      </li>
      <li class='nav-item'>
        <%= link_to "Blog", blog_posts_path, class:'nav-link', id:'nav-link-white'%>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "My Styles", my_styles_path, class:'nav-link', id:'nav-link-white' %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:'nav-link', id:'nav-link-white' %>
        </li>
        <li class="nav-item dropdown">

        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login | Sign up", new_user_session_path, class:'nav-link', id:'nav-link-white' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

