<div class="navbar navbar-expand-sm navbar-light navbar-my-mode">
  <%= link_to root_path, class: "navbar-brand", id:'navbar-logo' do %>
    <%= image_tag "logo-circle.png", alt: "my-mode circle" %>
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" id="navbar-toggler-icon-light"></span>
    <span class="navbar-toggler-icon-cross"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class='nav-item'>
        <%= link_to 'About', about_path, class:'nav-link nav-link-white', id:'nav-link-white' %>
      </li>
      <li class='nav-item'>
        <%= link_to "Blog", blog_posts_path, class:'nav-link nav-link-white', id:'nav-link-white'%>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "My Styles", my_styles_path, class:'nav-link nav-link-white', id:'nav-link-white' %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "Notifications", "#", class: "dropdown-toggle nav-link nav-link-white", style: 'color: white; margin: 0 0.5em; ', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Message from X", "#", class: "dropdown-item notification-item", style: "color:black;" %>
          <%= link_to "Y liked your style.", "#", class: "dropdown-item notification-item", style: "color:black;" %>
        </div>
      </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:'nav-link nav-link-white', id:'nav-link-white' %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login | Sign up", new_user_session_path, class:'nav-link nav-link-white', id:'nav-link-white'    %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
