<div class="container my-5">
  <div class="row my-3">
    <div class="col">
      <h1>Home</h1>
      <% unless current_user.first_name.nil?  %>
      <p>Welcome <%= current_user.first_name %></p>
      <% else %>
      <p>Welcome <%= current_user.username %></p>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h2>Feed</h2>
        <%= link_to "Search for styles", styles_path  %>

    </div>
  </div>
   <div class="row my-3">
    <div class="col">
      <h2>My Styles</h2>
      <%= link_to "See My styles", my_styles_path  %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h2>Liked Styles</h2>
      <%= link_to "See My styles", my_styles_path  %>
    </div>
  </div>

</div>
