<div class="banner">
   <div class="container">
      <h1 class='py-3' id='landing-page-logo'>my mode</h1>
   </div>
</div>
<div class="container my-3">
   <div class="row">
      <div class="col">
      </div>
   </div>
</div>
<div class="wrapper my-3">
   <div class='container'>
      <div class="row">
         <div class="col-sm-6 mb-5">
            <%= image_tag "landing_page_1.jpg", alt: "models posing in front of warehouse", class: 'landing_page_img round'%>
         </div>
         <div class="col-sm-6 text-center">
            <h2>The new way to share fashion ideas</h2>
            <p>Tired of your wardrobe? <br>Need inspiration?<br>Want to show off?</p>
            <p><strong>my mode</strong> allows you to create and share styles with other users.</p>
            <%= link_to "Find your style", styles_path, class: 'button btn-black'  %>
         </div>
      </div>
   </div>
</div>
<div class="my-5">
   <div class="container">
      <div class="col text-center">
         <%= inline_svg_tag 'clothes-banner.svg', class: 'svg-banner'%>
      </div>
   </div>
</div>
<div class="wrapper my-5">
   <div class='container'>
      <div class="row">
         <div class="col-sm-6 mb-5">
            <%= image_tag "landing_page_2.jpg", alt: "model with yellow puffa jacket and grey top", class: 'landing_page_img round'%>
         </div>
         <div class="col-sm-6 text-center">
            <h2>Create collections</h2>
            <p>Make it seasonal.<br>Make it themed.<br>Make it happen.</p>
            <p>No matter the occasion, present your inspirations to the world.</p>
            <%= link_to "Sign up and get started", new_user_registration_path, class: 'button btn-black'  %>
         </div>
      </div>
   </div>
</div>
<div class="my-5">
   <div class="container">
      <div class="row">
         <div class="col text-center">
            <%= inline_svg_tag 'clothes-banner_2.svg', class: 'svg-banner' %>
         </div>
      </div>
   </div>
</div>
<div class="wrapper my-5">
   <div class='container'>
      <div class="row">
         <div class="col-sm-6 mb-5">
            <%= image_tag "landing_page_3.jpg", alt: "model over bridge staring wistfully", class: 'landing_page_img round'%>
         </div>
         <div class="col-sm-6 text-center">
            <h2>Like different styles</h2>
            <p>Find something you like?</p>
            <p>my mode allows you to like styles from other users.</p>
            <%= link_to "Sign up and get started", new_user_registration_path, class: 'button btn-black'  %>
         </div>
      </div>
   </div>
</div>

