<div class="container my-5">

<h1 class="page-heading">Blog</h1>

<% if user_signed_in? && current_user.employee? %>
  <%= link_to "Create a new blog post", new_blog_path %>
<% end %>

<% @blogs.each do |blog| %>
  <%= link_to blog_path(blog) do  %>
    <p><%= blog.title %></p>
  <% end %>
  <p><%= blog.content %></p>
  <p><%= blog.user.full_name %></p>
  <p><%= blog.created_at.strftime("%d/%m/%Y %H:%m") %></p>
<% end %>
</div>

