<% content_for :meta_title, "my mode | Blog" %>
<div class="container my-5">
<div class="row align-items-center">
  <div class="col">
    <h1 class="page-heading">Blog</h1>
  </div>
  <div class="col">
    <% if user_signed_in? && current_user.employee? %>
      <%= link_to "Create a new blog post", new_blog_path %>
    <% end %>
  </div>
</div>
<hr>

<% @blogs.each do |blog| %>
  <%= link_to blog_path(blog), method: :delete do %>
    <p>delete blog</p>
  <% end %>
  <%= link_to blog_path(blog) do  %>
    <p><strong><%= blog.title %></strong> | <%= blog.user.full_name %></p>
  <% end %>
  <p class='blog-intro'><%= blog.content %></p>
<% end %>
</div>

