<div class="container my-5">
  <h1 class='page-heading'>Styles</h1>
  <p>Find styles made by other users.</p>
  <div class="w-100 my-5">
  <%= form_tag styles_path, method: :get, class: 'form-inline' do %>
    <%= text_field_tag :query, params[:query], class: 'form-control round', label: 'Find styles', placeholder: 'find styles' %>
  <% end %>
</div>
    <div class="row row-align">
    <% @styles.each do |style| %>
    <div class="col col-lg-4 my-5">
    <%= link_to style_path(style) do %>
      <% if style.photo.attached? %>
      <%= cl_image_tag style.photo.key, class: 'card-home round' %>
      <% else %>
      <%= image_tag "logo-circle.png", alt: "alttext", class: 'card-home round' %>
      <% end %>
      <p class='card-username text-right my-1'><%= style.user.username %></p>
      <div class="overlay">
        <p>Text</p>
      </div>
      <% end %>
      </div>
    <% end %>
    </div>
</div>
