<div class="container my-5">
  <h1>Styles</h1>
  <p>Find styles made by other users.</p>
  <div class="w-50 my-5">
  <%= form_tag styles_path, method: :get, class: 'form-inline' do %>
    <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'find styles' %>
    <%= submit_tag "search", class: 'form-inline' %>
  <% end %>
</div>
    <% @styles.each do |style| %>
    <div class="row row-align">
    <%= link_to style_path(style) do %>
      <%= cl_image_tag style.photo.key, class: 'card-home round'  %>
      <div class="overlay">
        <p>Text</p>
      </div>
      <p class='card-username text-right my-1'><%= style.user.username %></p>
      <% end %>
    </div>
    <% end %>
</div>
