<div class="container my-5">
  <h1 class='page-heading'>Liked Styles</h1>
  <hr>
  <% if @styles.empty?  %>
  <p>You dont have any liked styles. <span><strong><%= link_to 'Why not add one?', styles_path %></span></strong></p>
  <% else %>
    <div class="row row-align">
      <% @styles.each do |style| %>
        <div class="col col-lg-4 my-5">
          <%= link_to style_path(style) do %>
              <div class="show">
                <% if style.photo.attached? %>
                  <%= cl_image_tag style.photo.key, class: 'card-home round style-card' %>
                <% else %>
                  <%= image_tag "logo-circle.png", alt: "alttext", class: 'card-home round style-card' %>
                <% end %>
                <div class="overlay">
                  <h3><%= style.name %></h3>
                  <p class='card-username'><%= style.user.username %></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
