<div class="style-banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                              url(<%= @style.photo.attached? ? cl_image_path(@style.photo.key) : asset_path('cover.png') %>)
            "
>
<div class="container">
<h1 class='page-heading white text-center'><%= @style.name %></h1>
</div>
</div>

<div class="container my-5">



<% @style.items.each do |item| %>
<p><%= "#{item.name}" %></p>
<p>Description: <%= item.description %></p>
<%= cl_image_tag item.photo.key, class: 'card-home' %>
<% end %>


<% unless @style.items.count > 4 %>
<%= render 'new_item', style: @style, item: @item, remote: true %>
<% end %>

</div>


