<% content_for :meta_title, "my mode | #{@style.name}" %>
<div class="style-banner"
   style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
   url(<%= @style.photo.attached? ? cl_image_path(@style.photo.key) : asset_path('cover.png') %>)
   "
   >
   <div class="container">
      <h1 class='page-heading white text-center'><%= @style.name %></h1>
   </div>
</div>
<div class="container my-5">
   <p><%= @style.description %></p>
   <% @items.each do |item| %>
   <hr>
   <div class="row my-5 align-items-center">
      <div class="col">
         <%= item.photo.attached? ? cl_image_tag(item.photo.key, class: 'card-home round', alt: "#{item.name}", id: "#{item.clothes_type}") : image_tag("cover.png", alt: "#{item.name}", class: 'card-home round') %>
      </div>
      <div class="col">
         <h3 data-category="<%= item.clothes_type %>" class='style-item-category'><%= "#{item.name}" %></h3>
         <p><strong>Description: </strong><%= item.description %></p>
         <p><strong>Price: </strong><%= item.price %></p>
      </div>
   </div>
   <%= render('new_item', remote: true) unless @style.items.count > 4 || @style.user != current_user %>
   <% end %>
   <hr>
   <h2 id="comment-header">Comments</h2>
   <% if user_signed_in? %>
    <%= render 'styles/components/new_comment', style: @style, comment: @comment, remote: true %>
   <% else %>
    <%= link_to "Sign in to comment", new_user_session_path %>
   <% end %>
   <% @comments.each_with_index do |comment, i| %>
    <div class="comment my-5" id="comment-<%=comment.id%>">
      <p><%= comment.user.username %> <span><%= comment.created_at.strftime("%d/%m/%Y") %></span></p>
      <p class='content'><%= comment.content %></p>
      <%= render 'styles/components/new_reply', comment: comment, reply: @reply%>
      <% unless comment.replies.empty? %>
      <%= link_to "Show replies", "#collapseExample#{i + 1}", data: {toggle: "collapse"}, class: 'collapse-link' %>
      <div class="collapse my-1" id="collapseExample<%= i + 1 %>">
        <%= render 'styles/components/replies', comment: comment %>
      </div>
      <% end %>
    </div>
   <% end %>
</div>
